@using App.Model
@model List<ApplicationResponeModel>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @* @foreach (var result in Model)
        {
            <li>@result</li>
        } *@
        <table id="example" class="display table-secondary" style="width:100%">
            <thead>
                <tr style="background-color:#e2e3e5">
                    <th></th>
                    <th>วันที่สร้างใบคำขอ</th>
                    <th>เอกสาร</th>
                    <th>สาขา </th>
                    <th>ชื่อสินค้าและหมายเลขสินค้า</th>
                    <th>สถานะ </th>
                    <th>สถานะสัญญา </th>
                    <th>ตรวจสอบ </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr>
                        <td>
                            @* <div class="dropdown">
                                <svg style="cursor:pointer" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                </svg>

                                <ul class="dropdown-menu dropdown-menu-dark bg-light" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item text-black bg-warning" onclick="location.href = '@Url.Action("FormCancel", "Home", new { ApplicationCode = @result.RefCode })'">ยกเลิกใบคำขอ</a></li>
                                </ul>
                            </div> *@
                        </td>
                        <td>
                            <B>วันที่สร้างใบคำขอ : </B> @result.ApplicationDate <br>
                            <B>เลขที่ใบคำขอ : </B> @result.ApplicationCode <br>
                            @result.RefCode
                        </td>
                        <td>
                            <B>เลขที่สัญญา :</B> @result.AccountNo <br>
                            <B>เลขบัตรประชาชน :</B> @result.CustomerID <br>
                            <B>ชื่อลูกค้า :</B> @result.Cusname<br>
                            <B>เบอร์โทรศัพท์ลูกค้า :</B> @result.cusMobile
                        </td>

                        <td><span class="d-inline-block text-truncate" style="max-width: 180px;" data-bs-toggle="tooltip" data-bs-placement="top" title="@result.SaleDepName">@result.SaleDepName </span><br>
                            <B>รหัสาขา : </B>@result.SaleDepCode <br>
                            <B>ชื่อพนักงานขาย : </B>@result.SaleName <br>
                            <B>เบอร์พนักงานขาย : </B>@result.SaleTelephoneNo
                        </td>
                        <td>
                            <span class="d-inline-block text-truncate" style="max-width: 200px;" data-bs-toggle="tooltip" data-bs-placement="top" title="@result.ProductModelName">@result.ProductModelName  </span><br>
                            <span class="d-inline-block text-truncate" style="max-width: 200px;" data-bs-toggle="tooltip" data-bs-placement="top" title="@result.ProductSerialNo">Serial / IMEI : @result.ProductSerialNo  </span><br>
                            <B>InvoiceNo : </B>@result.InvoiceNo
                        </td>

                        <td>
                            <B>สถานะใบคำขอ : </B>
                            @if (result.signedStatus == "เรียบร้อย" && result.statusReceived == "รับสินค้าแล้ว" && result.ApplicationStatusID == "CLOSED" )
                            {
                                <span class="badge bg-success">@result.ApplicationStatusID</span> <i class="C100StatusClosed fa-solid fa-paper-plane" data-applicationcode="@result.ApplicationCode" style="cursor: pointer;color: coral;"></i>
                            }
                            else
                            {
                                <span class="badge bg-warning" style="color:#000">@result.ApplicationStatusID</span>
                                if(@result.ApplicationStatusID.ToUpper() == "DRAFT")
                                {
                                    <i class="StartFlow fa-solid fa-paper-plane" data-refcode="@result.RefCode" style="cursor: pointer;color: coral;"></i>
                                }
                                
                            }
                            @if (@result.datenowcheck != "1")
                            {
                                @if (@result.LINE_STATUS == "TRANSFERED")
                                {
                                    <span class="badge bg-success" >@result.LINE_STATUS</span>
                                }
                                else if (@result.LINE_STATUS == "PREPARE")
                                {
                                    <span class="badge bg-info">@result.LINE_STATUS</span>
                                }
                                else if (@result.LINE_STATUS == "NOTVERIFIED")
                                {
                                    <span class="badge bg-warning" style="color:#000">@result.LINE_STATUS</span>
                                }
                                else
                                {

                                }
                            }
                            <br />

                            <B>สถานะชำระเงิน : </B>
                            @if (@result.ApplicationStatusID.ToUpper() == "CLOSING" || @result.ApplicationStatusID.ToUpper() == "CLOSED" || @result.ApplicationStatusID.ToUpper() == "SUBMITTED")
                            {
                                @if (@result.flag_status == "Y")
                                {
                                    if (Convert.ToDecimal(@result.SumAmount) < Convert.ToDecimal(@result.AMT_SHP_PAY))
                                    {
                                        <span class="badge bg-danger">ชำระเงินไม่ครบ</span>
                                        <i class="LinkPayment fa-solid fa-paper-plane" data-applicationcode="@result.ApplicationCode" style="cursor: pointer;color: coral;"></i>
                                        <i class="fa-solid fa-copy" data-shorturl="@result.SHORT_URL" data-pincode="@result.PinCode" style="cursor: pointer;color: coral;" onclick="copyPaymentMessage(this)"></i>
                                    }
                                    else if (Convert.ToDecimal(@result.SumAmount) == Convert.ToDecimal(@result.AMT_SHP_PAY))
                                    {
                                        <span class="badge bg-success">ชำระเงินแล้ว</span>
                                    }
                                }
                                else
                                {
                                    <span class="badge bg-secondary">รอการชำระเงิน</span>
                                    <i class="LinkPayment fa-solid fa-paper-plane" data-applicationcode="@result.ApplicationCode" style="cursor: pointer;color: coral;"></i>
                                    <i class="fa-solid fa-copy" data-shorturl="@result.SHORT_URL" style="cursor: pointer;color: coral;" onclick="copyPaymentMessage(this)"></i>
                                }
                            }
                            
                        </td>


                        <td>
                            <B>จำนวนสัญญา :</B>
                            @if (result.numdoc == "ปกติ")
                            {
                                <span class="badge bg-success">@result.numdoc</span> <br>
                            }
                            else
                            {
                                <span class="badge bg-warning" style="color:#000">@result.numdoc</span> <br>
                            }

                            <B>สถานะสัญญา :</B> 
                            @if (result.signedStatus == "เรียบร้อย")
                            {
                                <span class="badge bg-success">@result.signedStatus</span>
                            }
                            else
                            {
                                <span class="badge bg-warning" style="color:#000">@result.signedStatus</span>
                            }



                            @if (result.ApplicationStatusID == "CLOSING" && (result.signedStatus == "รอลงนาม" || result.signedStatus == "-"))
                            {
                                @if (result.ProductSerialNo.Trim() != "")
                                {
                                    <i class="GenEsignature fa-solid fa-paper-plane" data-applicationcode="@result.ApplicationCode" style="cursor: pointer;color: coral;"></i>
                                    <i class="fa-solid fa-copy" data-url="@result.URL" data-pincode="@result.PinCode" style="cursor: pointer;color: coral;" onclick="copyCustomMessage(this)"></i>
                                }
                                else
                                {
                                    <span class="badge bg-warning" style="color:#000">Serial Not Found.</span>
                                }
                            }
                            

                            <br>


                            @if (result.statusReceived == "รับสินค้าแล้ว")
                            {
                                <B>สถานะรับสินค้า : </B><span class="badge bg-success">@result.statusReceived</span>
                            }
                            else
                            {
                                <B>สถานะรับสินค้า : </B><span class="badge bg-warning" style="color:#000">@result.statusReceived</span>
                            }


                        </td>


                        <td>
                            @if (result.loanTypeCate == "HP")
                            {

                                @if (result.DeliveryFlag == "จัดส่งสินค้าเรียบร้อย")
                                {
                                    <B>ShipmentFlag : </B>
                                    <span class="badge bg-success">@result.DeliveryFlag</span>
                                    <br>
                                }
                                else
                                {
                                    <B>ShipmentFlag : </B>
                                    <span class="badge bg-warning" style="color:#000">@result.DeliveryFlag</span>
                                    <br>
                                }

                                <B>ShipmentDate : @result.DeliveryDate</B>
                            
                            }


                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </ul>
}
else
{
    <p>No results found.</p>
}