@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FormCancelModel

<form class="row g-3 pt-3" id="FormCancel" asp-action="UpdateDataCancel" method="post">

    <div class="mb-3 row">

        <label for="ApplicationCode" class="col-sm-2 col-form-label">เลขที่ใบคำขอ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="ApplicationCode" name="ApplicationCode" placeholder="เลขที่ใบคำขอ" value="@Model.ApplicationCode" readonly>
        </div>


        <label for="AccountNo" class="col-sm-2 col-form-label">เลขที่สัญญา</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="AccountNo" placeholder="เลขที่สัญญา" value="@Model.AccountNo" readonly>
        </div>
    </div>


    <div class="mb-3 row">
        <label for="SaleDepName" class="col-sm-2 col-form-label">SaleDepName</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="SaleDepName"  placeholder="SaleDepName" value="@Model.SaleDepName" readonly>
        </div>


        <label for="ProductModelName" class="col-sm-2 col-form-label">ProductModelName</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="ProductModelName"  placeholder="ProductModelName" value="@Model.ProductModelName" readonly>
        </div>
    </div>


    <div class="mb-3 row">
        <label for="ProductSerialNo" class="col-sm-2 col-form-label">Serial / IMEI</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="ProductSerialNo" placeholder="ProductSerialNo" value="@Model.ProductSerialNo" readonly>
        </div>


        <label for="ApplicationStatusID" class="col-sm-2 col-form-label">สถานะ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="ApplicationStatusID" placeholder="ApplicationStatusID" value="@Model.ApplicationStatusID" readonly>
        </div>
    </div>

    <hr>
    <div class="mb-3 row">
        <label for="CustomerID" class="col-sm-2 col-form-label">เลขบัตรประชาชน</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="CustomerID" placeholder="CustomerID" value="@Model.CustomerID" readonly>
        </div>


        <label for="Cusname" class="col-sm-2 col-form-label">ชื่อลูกค้า</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="Cusname" placeholder="Cusname" value="@Model.Cusname" readonly>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="cusMobile" class="col-sm-2 col-form-label">เบอร์โทรศัพท์ลูกค้า</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cusMobile" placeholder="cusMobile" value="@Model.cusMobile" readonly>
        </div>
    </div>

    <hr>
    <div class="mb-3 row">
        <label for="SaleName" class="col-sm-2 col-form-label">ชื่อพนักงานขาย</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="SaleName" placeholder="SaleName" value="@Model.SaleName" readonly>
        </div>


        <label for="SaleTelephoneNo" class="col-sm-2 col-form-label">เบอร์พนักงานขาย</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="SaleTelephoneNo" placeholder="SaleTelephoneNo" value="@Model.SaleTelephoneNo" readonly>
        </div>
    </div>

    <div class="col-12">
        <label for="Remark" class="form-label">เหตุผล  <span style="color:red">*</span></label>
        <select class="form-control" id="Remark" name="Remark">
            <option>กรุณาเลือกเหตุผลการยกเลิก</option>
            <option value="กรอก  Serial No / IMEI  ผิด">กรอก  Serial No / IMEI  ผิด</option>
            <option value="ส่วนลดผิด">ส่วนลดผิด</option>
            <option value="รุ่น/สี ผิด">รุ่น/สี ผิด</option>
            <option value="เงินดาวน์ / Term ผิด">เงินดาวน์ / Term ผิด</option>
            <option value="ระบบ  Error">ระบบ  Error</option>
            <option value="อื่นๆ">อื่นๆ</option>
        </select>
    </div>

    <div class="col-12">
        <input type="text" class="form-control" id="Other" name="Other" placeholder="เหตุผลการยกเลิก" style="display:none">
    </div>

    <div class="col-12">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="ExceptIMEI" name="ExceptIMEI" value="Y" />
            <input type="hidden" class="form-check-input" name="ExceptIMEI" value="N" />
            
            <label class="form-check-label" for="ExceptIMEI">
                ยกเว้น IMEI
            </label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="ExceptCus" name="ExceptCus" value="Y" />
            <input type="hidden" class="form-check-input" name="ExceptCus" value="N" />
            
            <label class="form-check-label" for="ExceptCus">
                ยกเว้นลูกค้า
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="btnFetch">ยืนยันการยกเลิกใบคำขอ</button>
    </div>
</form>